/* .demo{
    position: relative;
    top: 100px;
    display: flex;
    gap: 30px;
    width: 100%;
    background-color: cornflowerblue;
    padding: 10px;
    align-items: flex-start;
   
}

.demo li{
    list-style-type: none;
}

.demo li a{
    text-decoration: none;  
    color: white; 
}

.active{
    background-color: blue;
    box-shadow: 1px 2px 3px black;
} */

.left{ 
    background-color: darkgray;
    border: none;
    padding: 7px;
    border-radius: 2px;
    box-shadow: 1px 2px 3px;
    position: absolute;
    top: 70px;
    cursor: pointer;
}

.right{
    background-color: darkgray;
    border: none;
    padding: 7px;
    border-radius: 2px;
    box-shadow: 1px 2px 3px;
    position: absolute;
    top: 70px;
    left: 350px;
    cursor: pointer;
}

h3{
    position: absolute;
    top: 120px;
}

.course{
    position: absolute;
    top: 130px;
    left: 230px;
    padding: 10px;
    border: none;
    background-color: darkblue;
    color: white;
    border-radius: 2px;
    box-shadow: 1px 2px 3px;

}

.product{
    position: absolute;
    top: 200px;
}

.demo{
    
    position: absolute;
    top: 200px;
    left: 500px;
    padding: 30px;
    width: 400px;
    box-shadow: 2px 2px 4px;
}

input.ng-touched.ng-invalid{
    border: 2px solid red
}

input.ng-touched.ng-valid{
    border: 2px solid green
}

input {
    padding: 7px;
    width: 90%;
}
.demo .error{
    position: absolute;
    color: red;
}

.demo .submit{
    width: 30%;
    padding: 7px;
    color: white;
    background-color: darkblue;
    border-radius: 3px;
}

