body{
    background-color: whitesmoke;
}
.card{
    width: 16%;
    height: 540px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); 
    display: inline-table ;
    position: relative;
    margin-left: 40px; 
    margin-bottom: 0px; 
    margin-top: 40px;  
    
}

.cards{
    width: 300px;
    padding: 5px;
    display: inline-table;
}

.image{
    width: 300px;
    height: 300px;
}
.rate{
    background-color: green;
    color: white;
    border: none;
    border-radius: 2px;
}
.description{
    padding-left: 9px;
}
