<div class="contain1">
<div class="container">
    <div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>FNAME</th>
            <th>LNAME</th>
            <th>MAIL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>GUNA</td>
            <td>SHEKAR</td>
            <td>guna@gmail.com</td>
        </tr>
        <tr>
            <td>Ram</td>
            <td>Kumar</td>
            <td>ram123@gmail.com</td>
        </tr>
        <tr>
            <td>Rajesh</td>
            <td>Kumar</td>
            <td>rajesh@gmail.com</td>
        </tr>
    </table>
    </div>
</div>

<div class="button">
    <button class="btn btn-outline-primary">CLICK</button>
</div>

<div class="total">
<div class="btn-group">
   <button type="button" class="btn btn-primary">Nokia</button>
   <button type="button" class="btn btn-primary">Samsung</button>
   <div class="btn-group">
       <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Apple</button>
       <ul class="dropdown-menu">
         <li><a href="#" class="dropdown-item">Tab</a></li>
         <li><a href="#" class="dropdown-item">Phone</a></li>
       </ul>
   </div>
</div>
</div>

<div class="buton">
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-primary"><span class="spinner-border spinner-border-sm"></span>OPPO</button>
    <button type="button" class="btn btn-primary"><span class="spinner-grow spinner-grow-sm"></span>REALME</button>
    <button type="button" class="btn btn-primary">REDMI</button>
  </div>  
</div>


<div class="badges">
 <button type="button" class="btn btn-primary">Primary <span class="badge">9</span></button>
 <button type="button" class="btn btn-primary">
    Messages <span class="badge bg-danger">4</span>
  </button>
</div>



<div class="progress">
    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated"
     style="width: 30%;">30%</div>
     
    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
     style="width: 40%;">40%</div>
</div>

<div class="page">
    <ul class="pagination pagination-lg">
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
    </ul>
</div>

 <ul class="pager"> 
      <li class="previous"><a href="#">previous</a></li>
      <li class="next"><a href="#">next</a></li>
 </ul>

 <div class="list-group">
    <a href="#" class="list-group-item">first</a>
    <a href="#" class="list-group-item">second</a>
    <a href="#" class="list-group-item  active">third</a>
 </div>

 <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        DROP <span class="caret"></span>
    </button>    
    <ul class="dropdown-menu">
        <li><a href="#">ONE</a></li>
        <li><a href="#">TWO</a></li>
        <li><a href="#">THREE</a></li>
    </ul>
 </div>

 <div class="col">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#para">CLICK</button>
    <div id="para" class="collapse">HELLO</div>
 </div>

 <!-- <div class="navbar">
    <ul class="nav nav-tabs">
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">menu1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">sub 1</a></li>
            <li><a href="#">sub 2</a></li>
            <li><a href="#">sub 3</a></li>
        </ul>
        </li>
        <li><a href="#">menu 2</a></li>
        <li><a href="#">menu 3</a></li>
    </ul>
 </div>

 <div class="navbar1">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">welcome</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="#">home</a></li>
              <li><a href="#">contact</a></li>
              <li><a href="#">about</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="search">
                </div>
                <button type="submit" class="btn btn-success">submit</button>
            </form>
        </div>
    </nav>
 </div> -->

 <div class="image">
    <img src="assets/img/images (1).jfif" class="img-thumbnail">
 </div>

 <div class="row1">
  <div class="row">
   <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-3 bg-primary text-white">col.1</div>
   <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-3 bg-dark text-white">col.2</div>
   <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-3 bg-primary text-white">col.3</div>
   <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-3 bg-dark text-white">col.4</div>
  </div>  
 </div>

 <div class="row2">
    <div class="row">
      <img src="assets/img/images (1).jfif" class="img-thumbnail col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <img src="assets/img/images (1).jfif" class="img-thumbnail col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <img src="assets/img/images (1).jfif" class="img-thumbnail col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <img src="assets/img/images (1).jfif" class="img-thumbnail col-sm-12 col-md-6 col-lg-4 col-xl-3">
    </div>
 </div>

 <div class="one">
   <div class="alert alert-info alert-dismissible">
     <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
     <strong>HELLO</strong>
   </div>
 </div>

 <div class="two">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">home</a></li>
    <li class="breadcrumb-item"><a href="#">about</a></li>
    <li class="breadcrumb-item"><a href="#">contact</a></li>
  </ul>
 </div>

 <div class="three">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">one</li>
    <li class="list-group-item">two</li>
    <li class="list-group-item">three</li>
  </ul>
 </div>

<div class="four">
  <div class="card">
     <img src="assets/img/images (1).jfif" class="card-img-top">
     <div class="card-body">
        <h3 class="card-title">welcome</h3>
        <p class="card-text">card</p>
        <a href="#" class="btn btn-info">click</a>
     </div>
  </div>
</div>

<div class="five">
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
       dropdown
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" class="dropdown-item">link1</a></li>
      <li><a href="#" class="dropdown-item">link2</a></li>
      <li><a href="#" class="dropdown-item">link3</a></li>
    </ul>
  </div>
</div>

<div class="six">
  <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">click to show data</button>
  <div id="demo" class="collapse">hello</div>
</div>

<div class="nav_bar">
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#home" class="nav-link active" data-bs-toggle="tab">home</a>
    </li>
    <li class="nav-item">
        <a href="#about" class="nav-link" data-bs-toggle="tab">about</a>
    </li>
    <li class="nav-item">
        <a href="#contact" class="nav-link" data-bs-toggle="tab">contact</a>
    </li>
  </ul>
</div>

<div class="tab-content">
   <div class="tab-pane container" id="home">this is home</div>
   <div class="tab-pane container" id="about">this is about</div>
   <div class="tab-pane container" id="contact">this is contact</div>
</div>

<div class="modal_1">
   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mymodal">
     open modal
   </button>
</div>

<div class="modal" id="mymodal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">heading</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
         modal content
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">close</button>
      </div>

    </div>
  </div>
</div>

<div class="editor">
<ckeditor
  [(ngModel)]="ckeditorContent">
    <!-- <ckbutton [name]="'saveButton'"
      [command]="'saveCmd'"
      (click)="save($event)"
      [icon]="'save.png'"
      [label]="'Save Document'"
      [toolbar]="'clipboard,1'">
    </ckbutton> -->
</ckeditor>
</div>

<img [src]="url" height="200" class="image1"><br>

<div class="files">
   <input class="form-control" type="file" (change)="onChange($event)">
   <button (click)="onUpload()" class="btn btn-success">Upload</button>

</div>
</div>
